/* Container holding the image and the text */
.cim {
  color: grey;
  font-family: "Abril Fatface"
}

.fejléc {
  background-color: black;
  width: 1500px;
  height: 50px;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: flex-start;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.fejléc_menüpont {
 /* background-color: cyan; */
  width: 200px;
  height: 30px;
  margin: 10px 5px;
  color: white;
  font-size: 24px;
  text-align: center;
  }

.container_kép {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-family: "Abril Fatface";
}

.text {
  width: 500px;
  margin: auto;
  color: black;
  font-family: "Josefin Sans";
  font-size: 20px;
}

.főrész {
  display: flex;
}

.idezet {
  color: white;
  font-family: "Abril Fatface";
  background-color: black;
  height: 80px;
  width: 500px;
  font-size: 15px;
}